.App {
  text-align: center;
  background-color: black;
}

.NavBar {
  text-align: left;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 1;
}

.homeBar {
  position: absolute;
  margin-left: calc(50% - 13em);
  margin-bottom: 10px;
  top: 15px;
}

.loginBar {
  position: absolute;
  margin-left: calc(100% - 18em);
  top: 15px;
}

.titleBar {
  color: green; 
  text-decoration: none;
  background-color: black;
  padding: 20px;
}

h1{
  color: white;
}

.page {
  position: relative;
  text-align: left;
  background-color: grey;
  width: 70%;
  height: 50%;
  padding: 5%;
  padding-right: 25%;
}

.info {
  position: relative;
  top: -200px;
  left: 300px;
}

.songs {
  margin-top: 50px;
}
.record {
  width: 100%;
  text-align: left;
  border-bottom: white solid 1px;
  margin-bottom: 20px;
}

.song > span {
  font-size: 15px;
}

.title {
  position: absolute;
   left: 5%;
}

.name {
  position: absolute;
   left: 50%;
}

.length {
  position: absolute;
  right: 1%;
}

.albums {
  margin-top: 10%;
}

.player {
  position: absolute;
  left:50%;
  top:13%;
}

.login {
  background-color: white;
  margin-top: 5%;
  width: 15%;
  height: 10%;
  position: relative;
  left: 43%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-color: coral;
  border: 3px solid green;
  background-color: grey;
}

.login > div {
  margin-bottom: 3%;
}

.username, .password {
  border: 2px solid black;
  border-radius: 4px;

}

.submit {
  display:inline-block;
  padding:0.7em 1.7em;
  margin:3% 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color:green;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
}
.submit:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

@media all and (max-width:30em){
 .submit{
  display:block;
  margin:0.4em auto;
  }
}

.searchBtn{
  position: absolute;
  top: 80px;
  color: black;
}

.showBtn{
  color: white;
  background-color: black;
}

.songs{
  position: relative;
  margin-top:100px;
}